<br>
<br>
<br>

<%= flash[:notice] %> <br>

<%= form_tag login_path do %>
  <label>Username: </label>
  <input name='username'><br>

  <label>Password: </label>
  <input type='password' name='password'><br>

  <input type='submit' value="login">
<% end %>
